/* Web Palette */
/*
Navy - #0B2836
Turquoise - #56DBD6
Pink - #F72351
*/

/* initial setup */

/* App */
html{
  box-sizing: border-box;
  font-family: Avenir;
  color: #0B2836;

}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.mobile-cont{
  width:100%;

}
.header {
  margin: 0 auto;
  width: 100%;
  font-weight: 900;
  height: 1100px;
  background-color: rgb(192, 193, 198);
}

#logo{
  transform: translate(-50%, 0%);
  margin: 0 50%;
  width: 200px;
  height: 200px;
}
.heading{
  font-size: 72px;
  font-weight: 700;
}
.title-meet{
  font-size: 2em;
  font-weight: 700;
  margin: 50px auto;
  margin-bottom: 280px;
}
.title-span{
  font-size: 3em;
}

.see-mattress-btn{
  background-color: #F72351;
  color: white;
  font-size: 3em;
  font-weight: 500;
  padding: 50px 100px;
  width: 80%;
  border-radius: 10px;
}

.info-card{
  margin: 0 auto;
  width: 100%;
  height: 900px;
  padding: 100px 50px;
}
.subheading{
  font-size: 4em;
  margin-bottom: 60px;
}
p > span {
  display: block;
}

p {
  font-size: 52px;
}


/*Universal classes */
.uppercase{
  text-transform: uppercase;
}
.center{
  text-align: center;
}

.see-the-mattress-card{
  font-size: 3em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: 900;
  height: 1100px;
}

.contact-card{
  background-color:#0B2836;
  color: white;
  height: 1050px;
  padding: 50px;
}
.contact-title{
  margin-bottom: 50px;
}
.contact-title > span{

}

/* Footer */
ul{
  list-style: none;
  font-size: 1.5em;
}
/*Additional CSS  */

/*  Fonts*/
/* @font-face {
    font-family: Avenir;
    src: url(./Avenir400Roman.ttf);
} */
