/* Web Palette */
/*
Navy - #0B2836
Turquoise - #56DBD6
Pink - #F72351
*/


/* App */
html{
  box-sizing: border-box;
  font-family: Avenir;
  color: #0B2836;
}
body{
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



.header {
  margin: 0 auto;
  /* width: 100%; */
  font-weight: 900;
  height: 1100px;
  /* background-color: rgb(192, 193, 198); */
  background:url("../images/lion-mattress.jpeg") no-repeat fixed;
}

#logo{
  /* transform: translate(0%, 0%); */
  /* margin: 0 50%; */
  width: 200px;
  height: 200px;
}
.heading{
  font-size: 72px;
  font-weight: 700;
}

.title-meet{
  font-size: 2em;
  font-weight: 700;
  margin: 50px auto;
  margin-bottom: 280px;
}

.title-span{
  font-size: 3em;
}
a{
  text-decoration: none;
  color: white;
}

.see-mattress-btn{
  background-color: #F72351;
  color: white;
  font-size: 3em;
  font-weight: 500;
  padding: 50px 100px;
  width: 80%;
  border-radius: 10px;
}

.info-card{
  margin: 0 auto;
  width: 100%;
  height: 900px;
  padding: 100px 50px;
}
.people-love-lull-card{
  margin: 0 auto;
  width: 100%;
  height: 750px;
  padding: 100px 50px;
}
.jungle-card{
  height: 1100px;

}
.premium-title{
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 60px;
  text-align: left;
}
#jungle-box-img{
  height: 450px;
  width: 250px;
  margin-left: 90px;
}
.premium-title .heading2{
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 100px auto auto 50px;
}
.heading2{
  font-size: 72px;
  margin-bottom: 60px;
  font-weight: 900;
}
.heading2 > span {
  display: block;
}

p {
  font-size: 48px;
}
p.lulls-premium{
  margin: 50px auto 70px auto;
}


.see-the-mattress-card{
  font-size: 3em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: 900;
  height: 1100px;
}

.contact-card{
  background-color:#0B2836;
  color: white;
  height: 1100px;
  padding: 50px;
}
.contact-title{
  margin-bottom: 30px;
}
.contact-para{
  width:90%;
  margin: 30px auto;

}
.contact-square{
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: 36px;
  height: 400px;
  width: 90%;
  margin: 120px auto 80px auto;
  font-size: 52px;
  font-weight: 500;
}
.contact-left-info{
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;

}
.contact-left-info > .contact-text{
  border-left: 7px solid #56DBD6;
  border-top: 7px solid #56DBD6;
  /* margin: auto; */
  vertical-align: middle;
  line-height: 200px;
  height: 200px;
}
.contact-right-faq{
  border: 7px solid #56DBD6;
  vertical-align: middle;
  line-height: 400px;
  height: 400px;
}
.support-info{
  border-bottom: 7px solid #56DBD6;
}

/*footer  */

.footer-list{
  list-style: none;
  font-size: 2em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-content: space-evenly;
  text-align: center;
}
li{
  display: inline;
  font-size: 42px;
  font-weight: 500;
  padding: 60px 10px;
}
li a {
  color: #0B2836;
}

/*CSS helpers  */

.right{
  text-align: right;
}
.left{
  text-align: left;
}
.uppercase{
  text-transform: uppercase;
}
.center{
  text-align: center;
}
