@import 'variables';

/* Web Palette */
/*
Navy - #0B2836
Turquoise - #56DBD6
Pink - #F72351
*/

$navy :  #0B2836;
$turq :  #56DBD6;
$red-pink :  #F72351;
$font-main: Avenir, "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-main-title: 72px;


// width-height($width: auto, $height: auto) comma needed
// if height only.ex width-height(auto ,900px)
@mixin width-height($width: auto, $height: auto) {
  width:  $width;
  height: $height;
}

/* App */

html {
  box-sizing : border-box;
  font-family : $font-main;
  color : #0B2836;
}

body {
  text-rendering : optimizeLegibility;
}

*, *:before, *:after {
  box-sizing : inherit;
  margin : 0;
}

a {
  text-decoration : none;
  color : white;
}
p {
  font-size : 48px;
}

  // /*Top lion card with mattress  */
.header {
  margin: 0 auto;
  font-weight: 900;
  @include width-height(auto, 1100px);
  background:url("../images/lion-mattress.jpeg") no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  @include width-height(200px);
}

.heading {
  font-size: $font-main-title;
  font-weight: 700;
}

.title-meet {
  font-size: 2em;
  margin: 50px auto;
  margin-bottom: 280px;
}

.title-span {
  font-size: 3em;
  line-height: 95%;
}

/* Used for both buttons */
.see-mattress-btn{
  background-color: $red-pink;
  color: white;
  border: none;
  font-size: 3em;
  font-weight: 700;
  padding: 50px 90px;
  @include width-height(80%);
  border-radius: 10px;
}

/*most comfortable mattress card  */
.most-comfortable-mattress-card{
  @include width-height(auto, 900px);
  padding: 70px 50px;
}
.people-love-lull-card{
  margin: 0 auto;
  height: 750px;
  padding: 70px 50px;
}
.most-comfortable-heading{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 80%;

}
.most-comfortable-heading-part1{
  padding-top: 70px;
  margin-bottom: 0px !important;
}

#sleep-icon, #google-ratings{
  @include width-height(250px);
}

// /* People love lull card */
.people-love-lull-title{
  display: grid;
  grid-template-columns: 70% 30%;

}

.people-love-title {
  display: block;
  padding-top: 40px;

}

// /* Jungle cat card  */
.jungle-card{
  height: 1100px;
}

.cat-box-title{
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 60px;
  text-align: left;
}
#jungle-cat-box-img{
  @include width-height(250px, 450px);
  margin-left: 90px;
}
.cat-box-title .heading2{
  margin-top: 120px;
  margin-bottom: 40px;
  padding: 100px auto auto 50px;
}
.heading2{
  font-size: $font-main-title;
  font-weight: 900;
}
.heading2 > span {
  display: block;

}
p.cat-box-para{
  margin: 50px auto 70px auto;
}

// /*Contact Us card  */
.contact-card{
  color: white;
  @include width-height(auto, 1200px);
  padding: 50px;
  background:linear-gradient(
    0deg,
    rgba(11, 40, 54, .8),
    rgba(11, 40, 54, .8)),
    url("../images/people.jpg")
    no-repeat left bottom;
  background-size: cover;
}
.contact-title{
  margin: 50px auto;
}
.contact-para{
  @include width-height(90%);
  margin: 20px auto;

}
.contact-square{
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: 36px;
  @include width-height(92%, 450px);
  margin: 100px auto 80px auto;
  font-size: 52px;
  font-weight: 700;

}
.contact-left-info{
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;

}
.contact-left-info > .contact-text{
  border-left: 7px solid $turq;
  border-top: 7px solid $turq;
  vertical-align: middle;
  line-height: 240px;
  height: 240px;
}
.contact-right-faq{
  border: 7px solid $turq;
  vertical-align: middle;
  padding: 30px;
  line-height: 400px;
  // height: 480px;
}
.support-info{
  border-bottom: 7px solid $turq;
}

// /*footer  */

.footer-list{
  list-style: none;
  font-size: 2em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-content: space-evenly;
}
li{
  display: inline;
  font-size: 42px;
  font-weight: 500;
  padding: 60px 10px;
}
li a {
  color: #0B2836;
}

// /*CSS class helpers  */
.mb60{
  margin-bottom: 60px;
}
.mb50{
  margin-bottom: 50px;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.uppercase{
  text-transform: uppercase;
}
.center{
  text-align: center;
}

@font-face{
  font-family:Avenir;
  font-weight:400;
  font-style:normal;
  src:url(Avenir400Roman.svg#Avenir400Roman) format('svg'),url(../fonts/Avenir400Roman.ttf) format('truetype'),url(Avenir400Roman.woff) format('woff')
}
@font-face{
  font-family:Avenir;
  font-weight:500;
  font-style:normal;
  src:url(Avenir500Medium.svg#Avenir500Medium) format('svg'),url(../fonts/Avenir500Medium.ttf) format('truetype'),url(Avenir500Medium.woff) format('woff')
}
@font-face{
  font-family:Avenir;
  font-weight:700;
  font-style:normal;
  src:url(Avenir700Heavy.svg#Avenir700Heavy) format('svg'),url(../fonts/Avenir700Heavy.ttf) format('truetype'),url(Avenir700Heavy.woff) format('woff')
  }

  @font-face{
    font-family:Avenir;
    font-weight:900;
    font-style:normal;
    src:url(Avenir900Black.svg#Avenir900Black) format('svg'),url(../fonts/Avenir900Black.ttf) format('truetype'),url(Avenir900Black.woff) format('woff')
    }
@media screen and (-webkit-min-device-pixel-ratio:0){
  @font-face {
    font-family:Avenir;font-weight:400;
    font-style:normal;
    src:url(Avenir400Roman.svg#Avenir400Roman) format('svg')
    }
  @font-face {
    font-family:Avenir;
    font-weight:500;
    font-style:normal;
    src:url(Avenir500Medium.svg#Avenir500Medium) format('svg')
    }
  @font-face {
    font-family:Avenir;
    font-weight:700;
    font-style:normal;
    src:url(Avenir700Heavy.svg#Avenir700Heavy) format('svg')
  }
  @font-face {
    font-family:Avenir;
    font-weight:900;
    font-style:normal;
    src:url(Avenir900Black.svg#Avenir900Black) format('svg')
  }
}
